.item{
    border: 1px solid black;
    text-align: center;
    margin-top:20px;

    &.red{
        border: 1px solid red;
        background-color: pink;
        
    }

    .title{
        font-size: 22px;
    }

    .img{
        display: block;
        img{
            max-width: 200px;
            max-height: 200px;
        }
        
    }

    .price{
        font-size: 15px;
        font-style: italic;
    }
}
