<div class="item" [ngClass]="{'red': existInCart}" >
    <div class="title">
        {{itemInput.description}}
    </div>
    <div class="img">
        <img [src]="itemInput.imageUrl">
    </div>
    <div class="price" appHighlightPrice [color]="itemInput.price > 1000 ? 'yellow' : 'green'">
        {{itemInput.price}}$
    </div>

    <button (click)="onAddToCart()"
     *ngIf="!existInCart; else elseBlock">Add To Cart</button>

    <ng-template #elseBlock>
        <button (click)="onRemoveFromCart()">Remove From Cart</button>
    </ng-template>


</div>