<!-- <div class="shopping-cart" >
    My Shopping cart:
    <div *ngFor="let item of shoppingCart">
        <app-item [itemInput]="item" [existInCart]="existInCart(item)"></app-item>
    </div>
</div> -->

<div>
    <input type="text" (input)="getSuggestion($event.target.value)">
</div>

<div *ngIf="user">
    <!-- Hello {{user.userName}} -->
    Hello {{(userObs | async).userName}}
</div>

<button (click)="login()">Login</button>

<hr>

<div class="item" *ngFor="let item of items" 
appInfinteScroll (bottomReached)="loadMore()" [isLoading]="isLoading">
    <app-item [itemInput]="item" 
    (addToCart)="addToCart($event)"
    (removeFromCart)="removeFromCart($event)"
    [existInCart]="existInCart(item)"></app-item>
    

</div>